#pieChartCanvas  {
 
    width: 100% !important;
    height: auto !important;
    max-width: 400px;  
    max-height: 300px; 
}

#lineChartCanvas {
  
    width: 100% !important;
    height: auto !important;
    max-width: 600px;  
    max-height: 400px; 
}
.chart-container {
    display: flex;         
    justify-content: center; 
    align-items: center;  
    height: 100%;         
}